**
!package.json
!README.md
!LICENSE
!dist/actions.js
!dist/discovery.js
!dist/editor.js
!dist/editorLogs.js
!dist/extension.js
!dist/grouping.js
!dist/highlights.js
!dist/jupyter.js
!dist/model.js
!dist/presentation.js
!dist/proc.js
!dist/view.js
